/* Write your CSS here */

.card-container {
  display: flex;
  border: 1px #475569 solid;
  border-radius: 10px;
  background-color: transparent;
  height: 150px;
  width: 500px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.team-img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.heading {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}
.linked-item {
  text-decoration: none;
}
